@{

}


<div class="carousel slide carousel-fade mb-6">
	<div class="carousel-inner">
		<div class="carousel-item active bg-cover" style="background:url(/images/holiday_slider_min.png)no-repeat;" data-overlay="6"></div>
	</div>
	<!-- ============================ Hero Banner End ================================== -->
	<!-- ============================ Hero Search Start ================================== -->
	<div class="search-explore-wrap">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12">
					<div class="search-wrap with-label overio">
						<div class="row">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="fliore">
									<div class="rounded-top-3 d-inline-flex overflow-hidden">
										<ul class="nav nav-tabs simple-tabs medium border-0 justify-content-center" id="tour-pills-tab" role="tablist">
											<li class="nav-item custom_btn">
												<a class="nav-link active" data-bs-toggle="tab" href="#hotels"><i class="fa-solid fa-hotel me-2"></i>Holidays</a>
											</li>
											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#flights"> <i class='fas fa-plane-departure'></i> Flights</a>
											</li>
											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#tours"><i class='fas fa-bed'></i> Hotel</a>
											</li>
											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#cabs"> <i class="fa fa-blind"></i> Activites</a>
											</li>
											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#cabs"> <i class='fas fa-umbrella-beach'></i> Styacation</a>
											</li>
											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#cabs"> <i class='fas fa-shield-alt'></i> Insurance</a>
											</li>

											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#cabs"> <i class='far fa-file-alt'></i> Visa</a>
											</li>

											<li class="nav-item alone_with_btm">
												<a class="nav-link" data-bs-toggle="tab" href="#cabs"><i class="fa-solid fa-car me-2"></i>Transfers</a>
											</li>
										</ul>
									</div>

									<div class="tab-content bg-white rounded-bottom-3 shadow-wrap p-3">
										<div class="tab-pane show active" id="hotels">
											<div class="row gy-3 gx-md-3 gx-sm-2">
												<div class="col-xl-12 col-lg-12 col-md-12">
													<div class="row gy-3 gx-md-3 gx-sm-2">
														<div class="col-xl-10 col-lg-8 col-md-12">
															<div class="row gy-3 gx-lg-2 gx-3">
																<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 position-relative">
																	<div class="form-group hdd-arrow mb-0">
																		<select class="leaving form-control fw-bold">
																			<option value="">Select</option>
																			<option value="ny">New York</option>
																			<option value="sd">San Diego</option>
																			<option value="sj">San Jose</option>
																			<option value="ph">Philadelphia</option>
																			<option value="nl">Nashville</option>
																			<option value="sf">San Francisco</option>
																			<option value="hu">Houston</option>
																			<option value="sa">San Antonio</option>
																		</select>
																	</div>
																</div>
																<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
																	<div class="form-groupp hdd-arrow mb-0">
																		<select class="goingto form-control fw-bold">
																			<option value="">Select</option>
																			<option value="lv">Las Vegas</option>
																			<option value="la">Los Angeles</option>
																			<option value="kc">Kansas City</option>
																			<option value="no">New Orleans</option>
																			<option value="kc">Jacksonville</option>
																			<option value="lb">Long Beach</option>
																			<option value="cl">Columbus</option>
																			<option value="cn">Canada</option>
																		</select>
																	</div>
																</div>
															</div>
														</div>
														<div class="col-xl-2 col-lg-4 col-md-4 col-sm-4">
															<div class="form-group mb-0">
																<button type="button" class="btn btn-primary full-width fw-medium"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="flights">
											<div class="row gx-lg-2 g-3">
												<div class="col-xl-5 col-lg-5 col-md-12">
													<div class="row gy-3 gx-lg-2 gx-3">
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 position-relative">
															<div class="form-group hdd-arrow mb-0">
																<select class="leaving form-control fw-bold">
																	<option value="">Select</option>
																	<option value="ny">New York</option>
																	<option value="sd">San Diego</option>
																	<option value="sj">San Jose</option>
																	<option value="ph">Philadelphia</option>
																	<option value="nl">Nashville</option>
																	<option value="sf">San Francisco</option>
																	<option value="hu">Houston</option>
																	<option value="sa">San Antonio</option>
																</select>
															</div>
															<div class="btn-flip-icon mt-md-0">
																<button class="p-0 m-0 text-primary"><i class="fa-solid fa-right-left"></i></button>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
															<div class="form-groupp hdd-arrow mb-0">
																<select class="goingto form-control fw-bold">
																	<option value="">Select</option>
																	<option value="lv">Las Vegas</option>
																	<option value="la">Los Angeles</option>
																	<option value="kc">Kansas City</option>
																	<option value="no">New Orleans</option>
																	<option value="kc">Jacksonville</option>
																	<option value="lb">Long Beach</option>
																	<option value="cl">Columbus</option>
																	<option value="cn">Canada</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-4 col-md-12">
													<div class="row gy-3 gx-lg-2 gx-3">
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
															<div class="form-group mb-0">
																<input class="form-control fw-bold choosedate" type="text" placeholder="Departure.." readonly="readonly" />
															</div>
														</div>
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
															<div class="form-group mb-0">
																<input class="form-control fw-bold choosedate" type="text" placeholder="Return.." readonly="readonly" />
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-2 col-lg-2 col-md-12">
													<div class="form-groupp hdd-arrow mb-0">
														<select class="occupant form-control fw-bold">
															<option value="">Select</option>
															<option value="lv">01 Adult</option>
															<option value="la">02 Adult</option>
															<option value="kc">03 Adult</option>
															<option value="no">04 Adult</option>
															<option value="kc">05 Adult</option>
															<option value="lb">06 Adult</option>
															<option value="cl">07 Adult</option>
															<option value="cn">08 Adult</option>
														</select>
													</div>
												</div>
												<div class="col-xl-1 col-lg-1 col-md-12">
													<div class="form-group mb-0">
														<button type="button" class="btn btn-primary full-width fw-medium"><i class="fa-solid fa-magnifying-glass fs-5"></i></button>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tours">
											<div class="row gy-3 gx-md-3 gx-sm-2">
												<div class="col-xl-8 col-lg-7 col-md-12">
													<div class="row gy-3 gx-md-3 gx-sm-2">
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 position-relative">
															<div class="form-group hdd-arrow mb-0">
																<select class="goingto form-control fw-bold">
																	<option value="">Select</option>
																	<option value="ny">New York</option>
																	<option value="sd">San Diego</option>
																	<option value="sj">San Jose</option>
																	<option value="ph">Philadelphia</option>
																	<option value="nl">Nashville</option>
																	<option value="sf">San Francisco</option>
																	<option value="hu">Houston</option>
																	<option value="sa">San Antonio</option>
																</select>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
															<div class="form-group mb-0">
																<input type="text" class="form-control choosedate fw-bold" placeholder="Choose Date" readonly="readonly" />
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-5 col-md-12">
													<div class="row gy-3 gx-md-3 gx-sm-2">
														<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
															<div class="form-group hdd-arrow mb-0">
																<select class="tour form-control fw-bold">
																	<option value="">Select</option>
																	<option value="ny">Family Package</option>
																	<option value="sd">Honymoon Package</option>
																	<option value="sj">Group Package</option>
																	<option value="ph">Desert</option>
																	<option value="nl">History</option>
																</select>
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
															<div class="form-group mb-0">
																<button type="button" class="btn btn-primary full-width fw-medium"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="cabs">
											<div class="row gy-3 gx-md-3 gx-sm-2">
												<div class="col-xl-8 col-lg-7 col-md-12">
													<div class="row gy-3 gx-md-3 gx-sm-2">
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 position-relative">
															<div class="form-group hdd-arrow mb-0">
																<select class="pickup form-control fw-bold">
																	<option value="">Select</option>
																	<option value="ny">New York</option>
																	<option value="sd">San Diego</option>
																	<option value="sj">San Jose</option>
																	<option value="ph">Philadelphia</option>
																	<option value="nl">Nashville</option>
																	<option value="sf">San Francisco</option>
																	<option value="hu">Houston</option>
																	<option value="sa">San Antonio</option>
																</select>
															</div>
														</div>
														<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
															<div class="form-group hdd-arrow mb-0">
																<select class="drop form-control fw-bold">
																	<option value="">Select</option>
																	<option value="ny">New York</option>
																	<option value="sd">San Diego</option>
																	<option value="sj">San Jose</option>
																	<option value="ph">Philadelphia</option>
																	<option value="nl">Nashville</option>
																	<option value="sf">San Francisco</option>
																	<option value="hu">Houston</option>
																	<option value="sa">San Antonio</option>
																</select>
															</div>
														</div>
													</div>
												</div>
												<div class="col-xl-4 col-lg-5 col-md-12">
													<div class="row gy-3 gx-md-3 gx-sm-2">
														<div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
															<div class="form-group mb-0">
																<input type="text" class="form-control choosedate fw-bold" placeholder="Choose Pickup Date" readonly="readonly" />
															</div>
														</div>
														<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
															<div class="form-group mb-0">
																<button type="button" class="btn btn-primary full-width fw-medium"><i class="fa-solid fa-magnifying-glass me-2"></i>Search</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================ Hero Search End ================================== -->
	<!-- ============================ Popular Hotels Start ================================== -->
	<section class="py-0" ng-app="PackageList" ng-controller="PackageController">
		<div class="container" ng-repeat="data in packages.packageType">
			<div class="row">
				<h3 class="over_head mb-4">{{data.packageTypeName}}</h3>
			</div>

			<div class="row justify-content-center">
				<div class="col-xl-12 col-lg-12 col-md-12 p-0">
					<div class="main-carousel cols-3 dots-full">
						<!-- Single Item -->
						<div class="carousel-cell" ng-repeat="package in PackageList" ng-if="data.packageTypeName == package.packageTypeName">
							<div class="visa_service_card_wrapper">
								<div class="visa_card_img">
									<img src="/images/exoti_tour.png" alt="img" />
								</div>
								<div class="visa_card_text">
									<h6 class="plc_title">
										<a href="/package/packagedetail?Slug={{package.slug}}"><strong> {{package.packageName}} </strong></a>
									</h6>
									<ul class="hotel_inlcuded">
										<li><i class="fa fa-clock"></i> {{package.cancellationPolicyName}}</li>
										<li><i class="fa fa-clock"></i>  {{package.cities}} </li>
										<li><i class="fas fa-bed"></i>  Hotels Included </li>
										<li><i class="fas fa-car"></i>  Transfers Included</li>
									</ul>
								</div>
								<div class="col-md-12">
									<div class="row p-3 pt-0">
										<div class="trsms-foots mt-2 col-md-12">
											<div class="flts-flex d-flex align-items-end justify-content-between">
												<div class="flts-flex-strat">
													<span> Starts from </span>
													<div class="d-flex align-items-center">
														<div class="text-dark fw-bold price_total">{{package.price | currency:"AED "}}</div>
														<div class="text-muted-2 fw-medium ms-2">Per person</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="row Pck_pri p-3 pt-0 top_ac_btn">
										<div class="col-lg-6">
											<button type="button" class="btn btn-light-primary fw-medium px-4 mt-0" fdprocessedid="shj79">Send Enquiry</button>
										</div>
										<div class="col-lg-6 for_new_padding">
											<button type="button" class="btn btn-light-primary fw-medium px-4 send_enq_btn mt-0" fdprocessedid="shj79">Buy Now</button>
										</div>
										<div class="col-lg-12 mt-2">
											<button type="button" class="btn btn-light-primary fw-medium px-4 send_enq_btn bg-black mt-0" fdprocessedid="shj79"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ============================ Popular Hotels End ================================== -->
	<!-- ============================ Popular Hotels Start ================================== -->
	<!-- ============================ Popular Hotels End ================================== -->



	<section class="got_query p-5 mt-5">
		<div class="container">
			<div class="row text-center">
				<h3>Got any Queries?</h3>
				<p>We’ll reach out to you.</p>

				<div class="appLink-frmbox border rounded-2 p-0 col-md-5 mx-auto mt-5">
					<div class="row align-items-center g-0">
						<div class="col-xl-11 col-lg-8 col-md-8 col-sm-8">
							<div class="form-group position-relative m-0">
								<input type="text" class="form-control form-control-md bold border-0 ps-5" placeholder="Email Or Mobile No." />
								<span class="position-absolute top-50 ms-4 translate-middle fw-medium text-dark"> </span>
							</div>
						</div>
						<div class="col-xl-1 col-lg-4 col-md-4 col-sm-4">
							<button type="button" class="btn btn-md btn-primary full-width fw-medium">
								<i class="fas fa-arrow-right"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<!-- ============================ Popular Hotels End ================================== -->



	<section class="best_word_tour mt-5 p-5">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
					<h2> The Best Word Tours </h2>
					<h1> For You!! </h1>
					<div class="col-lg-6">
						<button type="button" class="btn btn-light-primary fw-medium px-4 send_enq_btn mt-0" fdprocessedid="shj79"> Explore</button>
					</div>
				</div>

				<div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 all_tour_imgs">
					<div class="naccs">
						<div class="grid row">
							<div class="gc gc--2-of-3 col-md-9">
								<ul class="nacc">
									<li class="active">
										<div class="city_tour_sec">
											<img src="/images/tour_min01.png">

											<div class="row">
												<div class="col-lg-6">
													<h5> Vietnam </h5>
												</div>
												<div class="col-lg-6">
													<h5> 	$1740/Person </h5>
												</div>
											</div>

											<div class="rates">
												<div class="star-rates">
													<i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i>
												</div>
												<div class="rat-reviews">
													<strong>4.6</strong><span>(142 Reviews)</span>
												</div>
											</div>
											<p> A cultural wonderland & the enticing Charming country Vietnam The land is famous for its beaches, culture, and delectable cuisines. </p>
										</div>
									</li>
									<li class="">
										<div class="city_tour_sec">
											<img src="/images/tour_min01.png">

											<div class="row">
												<div class="col-lg-6">
													<h5> Vietnam </h5>
												</div>
												<div class="col-lg-6">
													<h5> 	$1740/Person </h5>
												</div>
											</div>

											<div class="rates">
												<div class="star-rates">
													<i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i>
												</div>
												<div class="rat-reviews">
													<strong>4.6</strong><span>(142 Reviews)</span>
												</div>
											</div>
											<p> A cultural wonderland & the enticing Charming country Vietnam The land is famous for its beaches, culture, and delectable cuisines. </p>
										</div>
									</li>
									<li class="">
										<div class="city_tour_sec">
											<img src="/images/tour_min01.png">

											<div class="row">
												<div class="col-lg-6">
													<h5> Vietnam </h5>
												</div>
												<div class="col-lg-6">
													<h5> 	$1740/Person </h5>
												</div>
											</div>

											<div class="rates">
												<div class="star-rates">
													<i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i>
												</div>
												<div class="rat-reviews">
													<strong>4.6</strong><span>(142 Reviews)</span>
												</div>
											</div>
											<p> A cultural wonderland & the enticing Charming country Vietnam The land is famous for its beaches, culture, and delectable cuisines. </p>
										</div>
									</li>
									<li class="">
										<div class="city_tour_sec">
											<img src="/images/tour_min01.png">

											<div class="row">
												<div class="col-lg-6">
													<h5> Vietnam </h5>
												</div>
												<div class="col-lg-6">
													<h5> 	$1740/Person </h5>
												</div>
											</div>

											<div class="rates">
												<div class="star-rates">
													<i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i><i class="fa-solid fa-star active"></i>
												</div>
												<div class="rat-reviews">
													<strong>4.6</strong><span>(142 Reviews)</span>
												</div>
											</div>
											<p> A cultural wonderland & the enticing Charming country Vietnam The land is famous for its beaches, culture, and delectable cuisines. </p>
										</div>
									</li>
								</ul>
							</div>
							<div class="gc gc--1-of-3 col-md-2">
								<div class="menu">
									<div class="active posi_rele">
										<span class="light"></span><span> <img src="/images/wordTour01.png" /> </span>
									</div>
									<div><span class="light"></span><span><img src="/images/wordTour02.png" /></span></div>
									<div><span class="light"></span><span><img src="/images/wordTour03.png" /> </span></div>
									<div><span class="light"></span><span> 		<img src="/images/wordTour04.png" /> </span></div>

								</div>
							</div>

						</div>
					</div>


				</div>
			</div>
		</div>
	</section>









	<section id="cta_area">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8">
					<div class="cta_left">
						<div class="cta_content">
							<h3>Plan your Next Holidays</h3>
							<h5>Request For Call back. Know more about the latest travel trends &amp; deals!</h5>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="cat_form">
						<form id="cta_form_wrappper">
							<div class="input-group">
								<button class="btn btn_theme1 btn_md cta" onclick="if (!window.__cfRLUnblockHandlers) return false; OpenEnquiryPopup()" type="button" data-cf-modified-1c27f91526c4e63b56c8dc46->Get a Call from Us</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>




</div>




@section Scripts {
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script>
		angular.module('PackageList', [])
			.controller('PackageController', ['$scope', '$http', '$location', function ($scope, $http, $location) {
				// Define the API URL and request body
				$scope.PackageList = [];
				$scope.extractSlug = function (url) {
					var matches = url.match(/Packagelist\?Slug=([^&]+)/i); // Case-insensitive regex
					if (matches) {
						return matches[1];
					} else {
						return null;
					}
				};

				$scope.getCountryId = function (name) {
					return $http.get('https://nextholidaysinadiaapi.nextholidays.co.in/User/GetCountryId', {
						params: { Name: name }
					})
						.then(function (response) {
							// console.log(response.data);
							return response.data;
						})
						.catch(function (error) {
							console.error('Error fetching country ID:', error);
							throw error;
						});
				};

				$scope.getCityId = function (name) {
					return $http.get('https://nextholidaysinadiaapi.nextholidays.co.in/User/GetCityId', {
						params: { Name: name }
					})
						.then(function (response) {
							// console.log(response.data);
							return response.data;
						})
						.catch(function (error) {
							console.error('Error fetching City ID:', error);
							throw error;
						});
				};

				// Function to fetch data from the API
				function fetchData() {
					const apiUrl = 'https://nextholidaysinadiaapi.nextholidays.co.in/Package/GetPackageList';
					$http.post(apiUrl, $scope.requestBody)
						.then(function (response) {
							$scope.packages = response.data;
							$scope.PackageList = $scope.packages.packageList;
							console.log('packageList:', $scope.packages);
						})
						.catch(function (error) {
							console.error('Error fetching data:', error);
						});
				}

				// Get the current URL using $location service
				var currentUrl = $location.absUrl();
				$scope.slug = $scope.extractSlug(currentUrl);
				if ($scope.slug != null) {
					// console.log($scope.slug);
					$scope.getCountryId($scope.slug).then(function (countryId) {
						if (countryId == 0) {
							$scope.getCityId($scope.slug).then(function (cityId) {
								$scope.requestBody = {
									"CountryId": 0,
									"CityId": cityId,
									"PackageId": "",
									"PackageType": 0,
									"EntryType": 0
								};
								fetchData();
							});
						} else {
							$scope.requestBody = {
								"CountryId": countryId,
								"CityId": 0,
								"PackageId": "",
								"PackageType": 0,
								"EntryType": 0
							};
							fetchData();
						}
					});
				}
				else 
				{
					$scope.requestBody = {
						"CountryId": 0,
						"CityId": 0,
						"PackageId": "",
						"PackageType": 0,
						"EntryType": 0
					};
					fetchData();
				}
				

				$scope.requestBody = {
					"CountryId": 0,
					"CityId": 0,
					"PackageId": "",
					"PackageType": 0,
					"EntryType": 0
				};

			}]);
	</script>
}
